#AttemptCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.attempt {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid;
    padding: 2em;
    margin: 2px;
    height: 100px;
    width: 100px;
    text-align: center;
}